.game-canvas {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.keys {
  position: relative;
  font-family: "Lato", sans-serif;
  text-align: center;
  max-width: 250px;
  padding: 10px;
  box-sizing: border-box;
  height: 140px;
  margin: auto;
  background-color: #e3b041;
}

.up {
  position: relative;
  top: -4px;
}

.chevron::before {
  border-style: solid;
  border-width: 8px 8px 0 0;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  top: -10px;
  position: relative;
  transform: rotate(-45deg);
}

.chevron.down::before {
  transform: rotate(135deg);
  top: -22px;
}

.chevron.right::before {
  transform: rotate(45deg);
  top: -18px;
  left: -5px;
}

.chevron.left::before {
  transform: rotate(225deg);
  top: -18px;
  left: 5px;
}

.arr {
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #1e1e1e;
  color: white;
  font-size: 40px;

  display: inline-block;
  margin: 5px;
  transition: all 0.05s linear;
  user-select: none;
}

.arr:active {
  background: #555;
}

#game-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
